@{
    ViewBag.Title = "Order Success";
}

<div class="container">
    <div class="alert alert-success" role="alert">
        <h4><strong>Đặt đơn hàng thành công!</strong> Cảm ơn bạn đã mua hàng. Chúng tôi sẽ xử lý đơn hàng của bạn sớm nhất có thể.</h4>
    </div>
</div>



