@model IEnumerable<Pr_Web_Thanh_Quynh.Models.Product>
@{
    ViewBag.Title = "Index";
}

<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>About</span>-Nội Thất</h1>
                                <h2>Chất Lượng Đi Hàng Đầu</h2>
                                <p>Shop Hướng đến Khách hàng tiềm tiềm năng & nâng cao trải nghiệm người dùng </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/images/shop/keMyPhamTrangDiem.jpg" class="girl img-responsive" alt="" style="width: 300px" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>By</span>-Thành Quỳnh</h1>
                                <h2>Rất Nhiều Ưu Đãi Đang Chờ Đón Bạn</h2>
                                <p>Có Những Ưu Đãi Hấp Dẫn Cho Những Khách Hàng Mua Nhiều Sản Phẩm </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/images/shop/ke5.jpg" class="girl img-responsive" alt="" style="width: 300px" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>By</span>-Thành Quỳnh</h1>
                                <h2>Mua Sắm Tiện Lợi</h2>
                                <p>Sản Phẩm Sẽ Được Giao Tận Nơi Cho Khách Hàng Dù Ở Nơi Đâu </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/images/shop/keTiviPhongCachBacAu.png" class="girl img-responsive" alt="" style="width: 300px" />
                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->

<section>
    <div class="container">
        <div class="row">
            @Html.Partial("_Menu_Left")
            @Html.Partial("_Products")
        </div>
    </div>
</section>
